<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4"> Dost Resturant </h4>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">Gizlilik Politikası</a>
                <a class="btn btn-link" href="">Şartlar ve koşullar</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">İletişim</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Sokak, Beşiktaş, İstanbul, Türkiye</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+090 212 500 2004</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>dresturant@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Açılış-Kapanış</h4>
                <h5 class="text-light fw-normal">Pazartesi  - Cumartesi</h5>
                <p>09:00 - 21:00</p>
                <h5 class="text-light fw-normal">Pazar</h5>
                <p>10:00 - 20:00</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Bülten</h4>
                <p>Her ay'a özel yeni bülten yayınlanmaktadır, her ay kontrol etmeyi unutmayın.</p>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; Dost Resturant 2023 Bütün hakları saklıdır. </div>  
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Ana Sayfa</a>
                        <a href="">Menü</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
